form{
	margin: 0 auto;
	width: 400px;
	padding: 1em;
	border-radius: 10px;
}

div + div{
	margin-top: 1em;
}

label{
	display: inline-block;
	width: 90px;
	text-align: right;
}

input, textarea{
	font: 1em sans-serif;
	width: 300px;
	border: 1px solid;
}

input:focus, textarea:focus{
	border-color: #000;
}

textarea{
	vertical-align: top;
	height: 5em;
	resize: vertical;
	/*box shadow (desplazamiento horizontal, desplazamiento vertical, difuminacion de la sombra, radio de expansión de la sombra)*/
	box-shadow:5px 5px;
}